.bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.bgr {
    background-image: url("src/assets/header.png");

    margin: auto 10px;
    width: auto;
    height: 175px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.search-items {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 1000px;
}

.txtbox {
    width: 500px;
    height: 45px;
    border: 2px solid #C1C1C1;
    border-radius: 3px;
    opacity: 1;
}

.selectBox {
    height: 65px;
    border-radius: 3px;
    opacity: 1;
}

.dropDown {
    height: 40px;
}

.mySelectClass {
    padding-top: 10px;
}


.searchButton {
    width: 92px;
    height: 45px;
    background: #fe8d16 0% 0% no-repeat padding-box;
    border: 2px solid #fe8d16;
    border-radius: 3px;
    opacity: 1;
}

.searchButtonText {
    text-align: center;
    font: normal normal bold 14px/22px Heebo;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 8px;
}

.iconSearch {
    height: 45px;
}

.inner {
    margin: auto 0;
}

.outer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.flex-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item {
    padding: 5px;
    width: 300px;
    height: 236px;
    margin: 5px;
}

.timelineRed {
    display: inline-block;
    margin: auto;
    width: 300px;
    border: 2px solid red;
}

.timelineBlue {
    display: inline-block;
    margin: auto;
    width: 300px;
    border: 2px solid blue;
}

.img {
    width: 150px;
    height: 160px;
}

.container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.containerItem {
    width: 150px;
}

.descriptionItem {
    padding-top: 5px;
    white-space: pre-wrap;
}

.lowContainer {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}

.writeComments {
    padding-top: 5px;
}

.pointer {
    cursor: pointer;
}

.panelClass {
    margin-top: 30px !important;
}

/*
.mat-select-panel-wrap{
    position: relative;
    top: 26px;
}

.mat-select-panel-wrap .mat-select-panel{
    min-width: calc(100% + 12px) !important;
    transform: translateX(4px) !important
} */